.root {
    -fx-background-color: black;
}

/* TÍTULO */

.titulo {
    -fx-text-fill: #d50000;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

/* BOTÃO VOLTAR */

.btn-voltar {
    -fx-background-color: #2a2528;
    -fx-text-fill: white;

    -fx-border-color: white;
    -fx-border-width: 2;

    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-pref-width: 100;
    -fx-pref-height: 35;
}

/* SUBTOTAL */

.btn-subtotal {
    -fx-background-color: #2a2528;
    -fx-text-fill: white;

    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-pref-width: 250;
    -fx-pref-height: 35;

    -fx-alignment: center-left;

    -fx-padding: 0 90 0 15;
}

/* AVANÇAR */

.btn-avancar {
    -fx-background-color: #d50000;
    -fx-text-fill: white;

    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-pref-width: 110;
    -fx-pref-height: 37;

    -fx-font-weight: bold;
}

/* PRODUTOS */

.nome-produto {
    -fx-text-fill: #d50000;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.imagem-produto {
    -fx-border-color: white;
    -fx-border-width: 2;

    -fx-pref-width: 100;
    -fx-pref-height: 145;
}

.contador {
    -fx-text-fill: #d50000;
    -fx-font-size: 10px;
}

.preco {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.btn-mais,
.btn-menos {

    -fx-background-color: transparent;
    -fx-text-fill: #d50000;

    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-translate-y: -5;

    -fx-padding: 0;
}